:root {
  --accent: #001D39;
  --accent-light: #0A4174;
  --fg-light: #EAEFF3;
  --notif: #EF480B;
}

.dashboard {
  display: flex;
  gap: 24px;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  box-sizing: border-box;
  align-items: stretch;

  overflow-y: auto;
    margin-top: 430px;

}

.left-side {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.sales-overview {
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 340px; 
  gap: 20px;
}

.box {
  background-color: var(--fg-light);
  border-radius: 14px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.12);
  padding: 20px;
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;
}

.box:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.18);
}

.right-side .box {
  flex: 1;
}
